@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h1>Make A ToDo List!</h1>
    </div>
    <form action="/task/list/add" method="post">
        <div class="form-group">
            <label for="new-task">Add a new task</label>
            <input class="form-control" id="new-task" name="new-task" type="text" autofocus>
        </div>
        <div class="form-group">
            <button class="btn" type="submit">Submit</button>
        </div>
    </form>

    @if (Model.Count != 0)
    {
    <div class="well">
        <h2>Your List:</h2>
        <ul>
        @foreach(string task in Model)
        {
        <li>@task</li>
        }
        </ul>
    </div>

    <form action="/task/list/clear" method="post">
        <button class="btn" type="submit" name="button">Clear All Tasks</button>
    </form>
    }
</div>
